/* styles for whole page */
.wide #feedlyTabsHolder {
	margin-top: 0;
}

.home #feedlyTabs {
	margin-right: 0;
}

.home #feedlyTabsHolder div.simpleUnreadCount {
	pointer-events: none;
}

.home #feedlyTabsHolder .favicon {
	opacity: 0.85;
}

.home #systemBar {
	display: none;
}

.home #feedlyMessageBar+div {
	border-top: none !important;
	border-bottom: none !important;
}

.home #mainArea {
	padding-top: 10px;
}

.home #feedlyPageHeader {
	margin-top: 10px;
}

.home #timeline .section {
	display: none;
}

.home .u0Entry {
	border-bottom: none;
}

.home #feedlyPart0.area {
	min-height: 100%;
	padding-bottom: 0;
}

.home #footnoteBar {
	display: none;
}

.home #loadingEntries {
	margin-top: 15px;
	padding-bottom: 20px;
}

/* styles for article in condensed view */
.home .condensed .inlineFrame {
	padding: 15px;
	padding-right: 25px;
}

.home .condensed .inlineFrame .title {
	margin-bottom: 10px;
}

.home .condensed .inlineFrame .title.read {
	color: #909090;
}

.home .condensed .inlineFrame .u100Entry {
	min-height: 0;
}

.home .condensed .u0entry.selectedEntry {
	padding-top: 0;
	padding-bottom: 0;
	height: 34px;
	-webkit-box-shadow: none;
	background: #E4E4E4;
}

.home .condensed .inlineFrame .entryBody img {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.home .condensed .inlineFrame .entryBody .content img[src*="freakenergy.ru"] {
	width: 250px !important;
	height: 250px !important;
}

.home .condensed .inlineFrame .entryBody iframe {
	margin-left: 0 !important;
}

.home .topWikiWidget,.home .bottomWikiWidget {
	display: none !important;
}

.home .condensed .entryBody>br+br {
	display: none;
}